@model IEnumerable<Class>
@{
    ViewData["Title"] = "Manage Class";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
@* <link href="~/admin.css" rel="stylesheet" /> *@
@section header {
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a href="#"><em>FPT</em> Polytechnic</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
            <li><a href="/Admin/Index"class="external">Home</a></li>
                <li><a href="/Student/ManageStudent" class="external">Student Management</a></li>
                <li><a href="/Course/ManageCourse" class="external">Courses Management</a></li>
                <li><a href="/Teacher/ManageTeacher" class="external">Teacher Management</a></li>
            <li><a href="/Authentication/Logout" class="external">Logout</a></li>


            </ul>
        </nav>
    </header>
}
<section class="content">
    <h1 class="text-center" style="color: orange; margin-top:80px;">Hello @ViewBag.UserName , You are @ViewBag.Role</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="bg-primary text-white">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Major</th>
                    <th class="text-center">Lecturer</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.Id</td>
                        <td class="text-center">@item.ClassName</td>
                        <td class="text-center">@item.Major</td>
                        <td class="text-center">@item.Lecturer</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-danger mr-1" href="@Url.Action("Delete","Class",new {id=item.Id})">Delete</a>
                                <a class="btn btn-warning" href="@Url.Action("EditClass","Class",new {id=item.Id})">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <ul class="mt-3">
            <li>
                <a class="btn btn-success" asp-controller="Class" asp-action="NewClass">New Class</a>
            </li>
        </ul>
    </div>
</section>


    