@model Class
@{
    ViewData["Title"] = "Create Class";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<link href="~/Manage.css" rel="stylesheet" />
@section header {
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a href="#"><em>FPT</em> Polytechnic</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="/Admin/Index" class="external">Home</a></li>
                <li><a href="/Authentication/Logout" class="external">Logout</a></li>


            </ul>
        </nav>
    </header>
}
<section class="content">
<h1 class="text-center" style="color: orange; margin-top:80px;">New Class</h1>

@using (Html.BeginForm("NewClass", "Class", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.Id, new { Class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ClassName, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.ClassName, new { Class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Major, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.Major, new { Class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lecturer, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.Lecturer, new { Class = "form-control" })
    </div>
    <div class="form-group text-right">
    <input type="submit" value="Create Class" class="btn btn-primary" />
    <button type="button" id="cancelBtn" class="btn btn-warning">Cancel</button>
    </div>

}

    <script>
        document.getElementById("cancelBtn").addEventListener("click", function () {
            window.location.href = "/Class/ManageClass";
        });
    </script>
    </section>